/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

/* Global styles for the body */
body {
    font-family: "Saira", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #eeeeee;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Header styles */
header {
    height: 100vh;
    width: auto;
    background-image: url(/assets/img/love-6600904_1920.jpg);
    background-position: center;
    background-size: cover;
    transition: .3s;
}

/* Flex container for header content */
.headContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Left section of the header */
.headLeft {
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

/* Name styling */
.headName {
    font-family: "Kolker Brush", cursive;
    font-size: clamp(6rem, 10vw, 9rem);
    font-style: normal;
    color: #ffffff;
    animation: name 1s;
    transition: ease-in-out;
}

/* Description styling */
.headDescrip {
    color: #FFE381;
    font-size: 2rem;
    animation: headDescrip 1s;
    transition: ease-in-out;
}

/* Button styling */
#headButton {
    margin: 1rem 0;
    padding: .5rem .8rem;
    background: none;
    box-shadow: none;
    color: #ffffff;
    border: .1rem solid #FFE381;
    border-radius: .3rem;
    animation: headButton 1.5s;
    transition: ease-in-out;
}

/* Button hover effects */
#headButton:hover {
    color: #FFE381;
    background-color: rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);
    border: .1rem solid rgba(36, 36, 36, 0.5);
}

/* Right section of the header */
.headRight {
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Image container styles */
.imgDiv1 {
    display: flex;
    position: relative;
}

.imgDiv2 {
    display: flex;
    position: relative;
    margin: 1rem 0;
}

.imgDiv3 {
    display: flex;
    position: relative;
}

/* Triangle shapes in image containers */
.imgDiv1 .triangle1 {
    width: 12rem;
    height: 9.5rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: rgba(34, 34, 34, 0.28);
    background-size: cover;
    background-position: center;
}

.imgDiv1 .triangle2 {
    width: 12rem;
    height: 9.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-image: url(/assets/img/boy-5355710_1920.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 7.1rem;
}

.imgDiv2 .triangle1 {
    width: 12rem;
    height: 9.5rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: rgba(34, 34, 34, 0.28);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 7.1rem;
}

.imgDiv2 .triangle2 {
    width: 12rem;
    height: 9.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-image: url(/assets/img/boy-5355710_1920.jpg);
    background-position: center;
    background-size: cover;
}

.imgDiv3 .triangle2 {
    width: 12rem;
    height: 9.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-image: url(/assets/img/boy-5355710_1920.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 7.1rem;
}

/* Main logo div */
.mainLogo {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo image styling */
.mainLogo>img {
    width: clamp(8rem, 15vw, 15rem);
    margin: 3rem;
}

/* Carousel div */
.Carousel {
    width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
}

/* Slide item styles */
.slide .item {
    width: 15rem;
    height: 20rem;
    top: 2rem;
    position: absolute;
    border-radius: 20px;
    box-shadow: 3px 3px 15px #505050;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    background-position: center;
}

/* Positioning for slide items */
.slide .item:nth-child(1) {
    left: calc(50% - 61rem);
    opacity: 0%;
}

.slide .item:nth-child(2) {
    left: calc(50% - 43.5rem);
    filter: brightness(75%);
}

.slide .item:nth-child(3) {
    left: calc(50% - 26rem);
}

.slide .item:nth-child(4) {
    width: 17rem;
    left: 50%;
    transform: translateX(-50%);
}

.slide .item:nth-child(5) {
    left: calc(50% + 11rem);
}

.slide .item:nth-child(6) {
    left: calc(50% + 28.5rem);
    filter: brightness(75%);
}

.slide .item:nth-child(n+7) {
    left: calc(50% + 46rem);
    opacity: 0%;
}

/* Control buttons for the carousel */
.controlCarousel {
    top: 2rem;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button styles for controls */
.controlCarousel button {
    width: 30rem;
    height: 20rem;
    font-size: 3rem;
    border: 0;
    padding: 0;
    color: #ffffff;
    background-color: rgba(139, 139, 139, 0);
    cursor: pointer;
    transition: 0.3s;
}

/* Control button positioning */
.controlCarousel .prev {
    text-align: start;
    padding: 1rem;
}

.controlCarousel .next {
    text-align: end;
    padding: 1rem;
}


/* Main content styling */
.mainContent {
    width: 100%;
    margin: 3rem 0;
}

/* Sub content section styling */
.subContent1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc240;
}

/* Photo styles in sub content */
.subContent1 .photo {
    position: relative;
    margin: 6rem 5rem 6rem 0;
    padding: 1.5rem 2rem;
}

/* Borders for photo */
.subContent1 .photo::before {
    position: absolute;
    width: 4rem;
    height: 6rem;
    content: "";
    left: 0;
    bottom: 0;
    border-left: #e7e7e7 3px solid;
    border-bottom: #e7e7e7 3px solid;
}

/* Overlay effect on photo */
.subContent1 .photo::after {
    content: '';
    position: absolute;
    top: 5%;
    left: 10%;
    background: linear-gradient(0deg, #ffc240 5%, transparent 15%);
    width: 80%;
    height: 90%;
}

/* Image styling in sub content */
.subContent1 .photo img {
    width: 14rem;
}

/* About section styling */
.subContent1 .about {
    width: 50%;
    height: 22rem;
    padding: 0 1.5rem;
    color: #474747;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

/* Borders for about section */
.subContent1 .about::before {
    position: absolute;
    width: 4rem;
    height: 6rem;
    content: "";
    top: 0rem;
    right: 0;
    border-right: #e7e7e7 3px solid;
    border-top: #e7e7e7 3px solid;
}

/* Media query for screens with a max width of 1024px */
@media screen and (max-width: 1024px) {
    .mainContent {
        width: 100%;
        margin: 2rem 0;
    }

    .subContent {
        height: 16rem;
    }

    .subContentLeft .sideBlock>img {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .subContentRight .sideBlock>img {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .subContentText {
        width: 40%;
    }
}

/* Media query for screens with a max width of 860px */
@media screen and (max-width: 860px) {
    header>img {
        height: 80vh;
    }

    .Carousel {
        height: 25rem;
    }

    .slide .item {
        width: 10rem;
        height: 15rem;
    }

    .slide .item:nth-child(2) {
        left: calc(50% - 30rem);
    }

    .slide .item:nth-child(3) {
        left: calc(50% - 18rem);
    }

    .slide .item:nth-child(4) {
        width: 12rem;
    }

    .slide .item:nth-child(5) {
        left: calc(50% + 8rem);
    }

    .slide .item:nth-child(n+6) {
        left: calc(50% + 20rem);
    }

    .controlCarousel button {
        width: 20rem;
        height: 15rem;
    }

    .mainContent {
        width: 100%;
        margin: 1rem 0;
    }

    .subContent1 {
        flex-direction: column;
    }

    .subContent1 .photo {
        margin: 1rem 0;
        padding: 1rem;
    }
    .subContent1 .photo::before {
        display: none;
    }

    .subContent1 .photo img {
        width: 12rem;
    }

    .subContent1 .about {
        width: 70%;
        padding: 1rem 3rem;
        margin-bottom: 2rem;
    }
    .subContent1 .about::before {
        display: none;
    }
}

/* Media query for screens with a max width of 600px */
@media screen and (max-width: 600px) {
    header>img {
        height: 60vh;
    }

    .headContent {
        align-items: start;
        justify-content: center;
    }

    .headLeft {
        align-items: center;
    }

    .headRight {
        display: none;
    }

    .Carousel {
        height: 20rem;
    }

    .slide .item {
        width: 8rem;
        height: 12rem;
    }

    .slide .item:nth-child(3) {
        left: calc(50% - 14.5rem);
    }

    .slide .item:nth-child(4) {
        width: 10rem;
    }

    .slide .item:nth-child(5) {
        left: calc(50% + 6.5rem);
    }

    .controlCarousel button {
        height: 12rem;
    }
}

/* Keyframes for animation named 'name' */
@keyframes name {
    from {
        transform: translateX(-30rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

/* Keyframes for animation named 'headDescrip' */
@keyframes headDescrip {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

/* Keyframes for animation named 'headButton' */
@keyframes headButton {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}
