@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

body {
    font-family: "Saira", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Navigation bar styles */
nav {
    height: 3rem;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(36, 36, 36, 0.2);
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);
    position: relative;
    z-index: 1;
}

/* Background for the navigation bar */
nav::before {
    content: '';
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(36, 36, 36, 0.2);
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);
}

/* Flex container for nav items */
nav>div {
    display: flex;
}

/* Navigation logo image */
nav>div>img {
    height: 2rem;
    padding: .8rem;
}

/* List items in the navigation */
.navList li {
    padding: 2rem;
    list-style: none;
}

/* Navigation links */
.navList li a {
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
}

/* Underline effect for links */
.navList li a::after {
    content: "";
    background-color: rgb(255, 97, 97);
    position: absolute;
    bottom: -.2rem;
    left: 0;
    height: .2rem;
    width: 0;
    transition: 0.3s;
}

/* Hover effect for links */
.navList li a:hover::after,
.navList li a:focus::after {
    background-color: #ffffff;
    width: 100%;
}

/* Menu burger button */
#menuBurger {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: none;
    box-shadow: none;
    border: none;
    display: none;
}

/* Styling for the burger div */
.burgerDiv {
    position: absolute;
    width: 1.5rem;
    height: .15rem;
    background-color: #ffffff;
    margin: 0.2rem;
    border-radius: .4rem;
    transition: 0.3s;
}

/* Before pseudo-element for burger animation */
.burgerDiv::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: -250%;
    transition: 0.4s;
}

/* After pseudo-element for burger animation */
.burgerDiv::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 250%;
    transition: 0.2s;
}

/* Active state for burger button */
.burgerDiv.active {
    transform: rotate(45deg);
}

/* Transform for the before pseudo-element when active */
.burgerDiv.active::before {
    top: 0;
    transform: rotate(-270deg);
}

/* Transform for the after pseudo-element when active */
.burgerDiv.active::after {
    top: 0;
    transform: rotate(270deg);
}

/* Flex container for header content */
.headContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Footer styles */
footer {
    width: 100%;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Logo in footer */
.logoFooter {
    margin-top: 2rem;
}

/* Footer logo image */
footer img {
    width: 10rem;
}

/* Contact logo in footer */
.logoContact img {
    width: 1.4rem;
    margin: 2rem 0.8rem;
}

/* Copyright section */
.copyRight {
    display: flex;
    color: #ffffff;
}

/* Copyright image */
.copyRight>img {
    width: 1rem;
    margin-right: 1rem;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1024px) {
    .navList li {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 860px) {
    .navList li {
        padding: 1rem;
    }
}

@media screen and (max-width: 680px) {
    /* Styles for mobile nav list */
    .navList {
        height: 0;
        width: 100%;
        overflow-y: hidden;
        text-align: center;
        position: absolute;
        top: 3rem;
        flex-direction: column;
        background-color: rgb(53 52 52 / 50%);
        backdrop-filter: blur(0.3rem);
        -webkit-backdrop-filter: blur(0.3rem);
        transition: 0.3s;
    }

    /* Mobile list item styles */
    .navList li {
        height: 1.2rem;
    }

    /* Show menu burger button */
    #menuBurger {
        display: flex;
    }
    
    /* Active state for mobile nav list */
    .navListActive {
        height: 16rem;
    }
}
